:root {
  --mainColor: #15202b;
  --secondaryColor: #192734;
  --borderColor: #164d56;
  --mainText: #fff;
  --secondaryText: #ff0000;
  --themeDotBorder: #fff;
  --previewBg: rgb(25, 39, 52, 0.8);
  --previewShadow: #151f3a;
  --btnColor: #17a2b8;
}
p, li, label, input::placeholder, input, textarea, textarea::placeholder{
  color:white
}