:root {
  --mainColor: #52db8b;
  --secondaryColor: #2ecc71;
  --borderColor: #161914;
  --mainText: #fff;
  --secondaryText: #eeeeee;
  --themeDotBorder: #fff;
  --previewBg: rgb(81, 90, 72, 0.8);
  --previewShadow: #44a154;
  --btnColor: #669966;
}
